{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>        
        {% block title %}            
        {% endblock title %}            
    </title>
</head>
<body>
    
    {% block content %}
        
    {% endblock content %}
    
    {% block extra_js %}
        
    {% endblock extra_js %}        
    
    {% django_browser_reload_script %}
</body>
</html>